
.container{
    max-width: 300px;
    margin: 0 auto;
}
.tic-tac-toe__inner{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

.tic-tac-toe__cell{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
}

.tic-tac-toe__cell__cross{
    background-image: url(../img/cross.svg);
}

.tic-tac-toe__cell__zero{
    background-image: url(../img/zero.svg);
}